{% extends 'base.html' %}
{% load static %}

{% block title %} New Episodes of The Series {% endblock title %}

{% block content %}

<table class="table" style="margin-bottom: 1.5rem;">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Watched Season - Episode</th>
            <th scope="col">Last Season - Episode</th>
            <th scope="col">Number of New Episodes</th>
        </tr>
    </thead>
    <tbody>
        {% for s, d in data %}
            <tr>
                <th scope="row">
                    <a href="https://www.imdb.com/title/{{s.imdb_id}}/" style="text-decoration: none;" target="_blank">
                        {{s.title}}
                    </a>
                    <br>
                    <a class="btn mr-1 update-btn" style="padding: 0;" href="{% url 'update-series' s.slug %}">
                        <img src="{% static 'icons/edit.png' %}" width="21px" height="21px">
                    </a>
                    <a class="btn delete-btn" href="{% url 'delete-series' s.slug %}">
                        <img src="{% static 'icons/trash.png' %}" width="24px" height="24px">
                    </a>
                </th>
                <td>{{s.last_season}} - {{s.last_episode}}</td>
                <td>{{d.last_season}} - {{d.last_episode}}</td>
                <td>{{d.count}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}