{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block favicon %}
    <link rel="shortcut icon" href="{% static 'icons/favicons/edit-series.ico' %}" type="image/x-icon">
{% endblock favicon %}
{% block title %} Update Series {% endblock title %}

{% block content %}

{% include 'components/message.html' %}

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Save" class="btn btn-primary mt-3 mb-5">
</form>

{% endblock content %}
    