<h2>Hi, {{user.username}}</h2>
<pre style="font-size: 1.4vw">{{new_series_list|length}} series updated</pre>
<pre style="font-size: 1vw;">
{% for s in new_series_list %}
<a href="https://www.imdb.com/title/{{s.series.imdb_id}}/" style="text-decoration: none;">{{s.series.title}}:</a>
    watched: <a href="https://www.imdb.com/title/{{s.series.imdb_id}}/episodes?season={{s.series.watched_season}}" style="text-decoration: none;">{{s.series.watched_season}}-{{s.series.watched_episode}}</a>
    last: <a href="https://www.imdb.com/title/{{s.series.imdb_id}}/episodes?season={{s.last_season}}" style="text-decoration: none;">{{s.last_season}}-{{s.last_episode}}</a>
    number of new episodes: {{s.new_episodes_count}}
{% endfor %}
</pre>
<pre style="font-size: 1.4vw">
Some series could not be updated (please try again later)
</pre>
<pre style="font-size: 1vw;">
{% for e in error_series_list %}
<a href="https://www.imdb.com/title/{{e.imdb_id}}/" style="text-decoration: none;">{{e.title}}:</a>
    watched: <a href="https://www.imdb.com/title/{{s.series.imdb_id}}/episodes?season={{e.watched_season}}" style="text-decoration: none;">{{e.watched_season}}-{{e.watched_episode}}</a>
    last: <a href="https://www.imdb.com/title/{{s.series.imdb_id}}/episodes?season={{e.last_season}}" style="text-decoration: none;">{{e.last_season}}-{{e.last_episode}}</a>
    number of new episodes: {{e.new_episodes_count}}
{% endfor %}
</pre>