{% load static %}


<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="div-left" style="float: left;">
        <span class="text-muted">
            <a href="mailto:ayxan.shahsuvarov1@gmail.com">© 2022 Aykhan Shahsuvarov</a>
        </span>
    </div>

    <div class="div-right" style="float: right;">
        <a class="btn btn-outline-light btn-floating m-1 contact-links" target="_blank" href="https://github.com/Ayxan-z" role="button">
            <i class="fab fa-github contact-icons"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1 contact-links" target="_blank" href="https://www.linkedin.com/in/ayxan-shahsuvarov-59a314187" role="button">
            <i class="fab fa-linkedin-in contact-icons"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1 contact-links" target="_blank" href="mailto:ayxan.shahsuvarov1@gmail.com" role="button">
            <i class="fa fa-envelope contact-icons"></i>
        </a>
    </div>
</footer>