{% load static %}


<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="div-left" style="float: left;">
        <span class="text-muted">
            <a href="mailto:ayxan.shahsuvarov1@gmail.com">© 2022 Aykhan Shahsuvarov</a>
        </span>
    </div>

    <div class="div-right" style="float: right;">
        <a class="btn btn-outline-light btn-floating m-1 contact-links" style="padding: 2px 4px 2px 4px;" target="_blank" href="https://github.com/Ayxan-z" role="button">
            <img class="contact-img" src="{% static 'icons/github.png' %}">
        </a>
        <a class="btn btn-outline-light btn-floating m-1 contact-links" style="padding: 5px 6px 5px 6px;" target="_blank" href="https://www.linkedin.com/in/aykhan-shahsuvarov-59a314187/" role="button">
            <img class="contact-img" src="{% static 'icons/linkedin.png' %}" style="background-color: white;">
        </a>
        <a class="btn btn-outline-light btn-floating m-1 contact-links" style="padding: 6px 7px 6px 7px;" target="_blank" href="mailto:ayxan.shahsuvarov1@gmail.com" role="button">
            <img class="contact-img" src="{% static 'icons/email.png' %}" style="background-color: white;">
        </a>
    </div>
</footer>