footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: black;
    text-align: center;
}

.div-left {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
}

.div-right {
    margin-top: 0.45rem;
    margin-right: 1.5rem;
}

footer div span a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

.contact-links {
    border: 0;
}

.contact-img {
    width: 33px;
    height: 33px;
}

@media only screen and (max-width: 520px) {
    .div-left {
        margin-top: 1.35rem;
        margin-left: 0.6rem;
    }
    
    .div-right {
        margin-top: 0.65rem;
        margin-right: 0.2rem;
    }

    footer div span a {
        color: inherit;
        text-decoration: none;
        font-size: 0.8rem;
    }

    .contact-img {
        width: 23px;
        height: 23px;
    }
}