.table {
    margin-bottom: 1.5rem;
    width: 670px;
}

.table-div {
    overflow-x: scroll;
}

@media only screen and (max-width: 510px) {
    table {
        font-size: 83%;
    }

    .edit-icon {
        width: 18px;
        height: 18px;
    }

    .trash-icon {
        width: 19px;
        height: 19px;
    }
}